# Module - 1

Data Pre-Processing

In [1]:
import pandas as p
import numpy as n

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
data=p.read_csv('CO2.csv')

In [4]:
data.head()

,Sl.No,Model Year,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption (City (L/100 km),Fuel Consumption(Hwy (L/100 km)),Fuel Consumption(Comb (L/100 km)),Fuel Consumption(Comb (mpg)),CO2 Emission Rating
0,0,2022,Acura,ILX,Compact,2.4,4,AM8,Z,9.9,7.0,8.6,33,3
1,1,2022,Acura,MDX SH-AWD,SUV: Small,3.5,6,AS10,Z,12.6,9.4,11.2,25,5
2,2,2022,Acura,RDX SH-AWD,SUV: Small,2.0,4,AS10,Z,11.0,8.6,9.9,29,6
3,3,2022,Acura,RDX SH-AWD A-SPEC,SUV: Small,2.0,4,AS10,Z,11.3,9.1,10.3,27,6
4,4,2022,Acura,TLX SH-AWD,Compact,2.0,4,AS10,Z,11.2,8.0,9.8,29,7

In [5]:
data.shape

(1892, 14)

In [6]:
data.isnull()

,Sl.No,Model Year,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption (City (L/100 km),Fuel Consumption(Hwy (L/100 km)),Fuel Consumption(Comb (L/100 km)),Fuel Consumption(Comb (mpg)),CO2 Emission Rating
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1887,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1888,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1889,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1890,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1891,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [7]:
data.columns

Index(['Sl.No', 'Model Year', 'Make', 'Model', 'Vehicle Class',
       'Engine Size(L)', 'Cylinders', 'Transmission', 'Fuel Type',
       'Fuel Consumption (City (L/100 km)', 'Fuel Consumption(Hwy (L/100 km))',
       'Fuel Consumption(Comb (L/100 km))', 'Fuel Consumption(Comb (mpg))',
       'CO2 Emission Rating'],
      dtype='object')

In [8]:
data['Make'].unique()

array(['Acura', 'Alfa Romeo', 'Aston Martin', 'Audi', 'Bentley', 'BMW',
       'Bugatti', 'Buick', 'Cadillac', 'Chevrolet', 'Chrysler', 'Dodge',
       'FIAT', 'Ford', 'Genesis', 'GMC', 'Honda', 'Hyundai', 'Infiniti',
       'Jaguar', 'Jeep', 'Kia', 'Lamborghini', 'Land Rover', 'Lexus',
       'Lincoln', 'Maserati', 'Mazda', 'Mercedes-Benz', 'MINI',
       'Mitsubishi', 'Nissan', 'Porsche', 'Ram', 'Rolls-Royce', 'Subaru',
       'Toyota', 'Volkswagen', 'Volvo'], dtype=object)

In [9]:
data['Make'].nunique()

39

In [10]:
data['Vehicle Class'].unique()

array(['Compact', 'SUV: Small', 'Mid-size', 'Minicompact',
       'SUV: Standard', 'Two-seater', 'Subcompact',
       'Station wagon: Small', 'Station wagon: Mid-size', 'Full-size',
       'Pickup truck: Small', 'Pickup truck: Standard', 'Minivan',
       'Special purpose vehicle'], dtype=object)

In [11]:
data['Fuel Type'].unique()

array(['Z', 'X', 'D', 'E'], dtype=object)

In [12]:
data['CO2 Emission Rating'].unique()

array([3, 5, 6, 7, 1], dtype=int64)

In [13]:
data.tail(10)

,Sl.No,Model Year,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption (City (L/100 km),Fuel Consumption(Hwy (L/100 km)),Fuel Consumption(Comb (L/100 km)),Fuel Consumption(Comb (mpg)),CO2 Emission Rating
1882,1882,2022,Volvo,S90 B6 AWD,Mid-size,2.0,4,AS8,Z,10.4,7.5,9.1,31,7
1883,1883,2022,Volvo,V60 T6 AWD,Station wagon: Small,2.0,4,AS8,Z,11.3,7.5,9.6,29,7
1884,1884,2022,Volvo,V60 CC T5 AWD,Station wagon: Small,2.0,4,AS8,Z,10.9,7.7,9.5,30,5
1885,1885,2022,Volvo,V90 CC B6 AWD,Station wagon: Mid-size,2.0,4,AS8,Z,10.6,8.1,9.5,30,7
1886,1886,2022,Volvo,XC40 T4 AWD,SUV: Small,2.0,4,AS8,X,10.7,7.6,9.3,30,5
1887,1887,2022,Volvo,XC40 T5 AWD,SUV: Small,2.0,4,AS8,Z,10.7,7.7,9.4,30,5
1888,1888,2022,Volvo,XC60 B5 AWD,SUV: Small,2.0,4,AS8,Z,10.5,8.1,9.4,30,5
1889,1889,2022,Volvo,XC60 B6 AWD,SUV: Small,2.0,4,AS8,Z,11.0,8.7,9.9,29,7
1890,1890,2022,Volvo,XC90 T5 AWD,SUV: Standard,2.0,4,AS8,Z,11.5,8.4,10.1,28,5
1891,1891,2022,Volvo,XC90 T6 AWD,SUV: Standard,2.0,4,AS8,Z,12.4,8.9,10.8,26,7

In [14]:
data.columns

Index(['Sl.No', 'Model Year', 'Make', 'Model', 'Vehicle Class',
       'Engine Size(L)', 'Cylinders', 'Transmission', 'Fuel Type',
       'Fuel Consumption (City (L/100 km)', 'Fuel Consumption(Hwy (L/100 km))',
       'Fuel Consumption(Comb (L/100 km))', 'Fuel Consumption(Comb (mpg))',
       'CO2 Emission Rating'],
      dtype='object')

In [15]:
df = data.dropna()

In [16]:
df.shape

(1892, 14)

In [17]:
df.isnull().sum()

Sl.No                                0
Model Year                           0
Make                                 0
Model                                0
Vehicle Class                        0
Engine Size(L)                       0
Cylinders                            0
Transmission                         0
Fuel Type                            0
Fuel Consumption (City (L/100 km)    0
Fuel Consumption(Hwy (L/100 km))     0
Fuel Consumption(Comb (L/100 km))    0
Fuel Consumption(Comb (mpg))         0
CO2 Emission Rating                  0
dtype: int64

In [18]:
df.describe()

,Sl.No,Model Year,Engine Size(L),Cylinders,Fuel Consumption (City (L/100 km),Fuel Consumption(Hwy (L/100 km)),Fuel Consumption(Comb (L/100 km)),Fuel Consumption(Comb (mpg)),CO2 Emission Rating
count,1892.000000,1892.0,1892.000000,1892.000000,1892.000000,1892.000000,1892.000000,1892.000000,1892.000000
mean,945.500000,2022.0,3.198732,5.668076,12.506448,9.363319,11.092072,27.247357,4.950317
std,546.317673,0.0,1.374451,1.932159,3.451131,2.284521,2.875515,7.683185,1.679397
min,0.000000,2022.0,1.200000,3.000000,4.000000,3.900000,4.000000,11.000000,1.000000
25%,472.750000,2022.0,2.000000,4.000000,10.200000,7.700000,9.100000,22.000000,3.000000
50%,945.500000,2022.0,3.000000,6.000000,12.200000,9.200000,10.800000,26.000000,5.000000
75%,1418.250000,2022.0,3.800000,6.000000,14.700000,10.700000,12.900000,31.000000,6.000000
max,1891.000000,2022.0,8.000000,16.000000,30.300000,20.900000,26.100000,71.000000,7.000000

In [19]:
df.corr()

,Sl.No,Model Year,Engine Size(L),Cylinders,Fuel Consumption (City (L/100 km),Fuel Consumption(Hwy (L/100 km)),Fuel Consumption(Comb (L/100 km)),Fuel Consumption(Comb (mpg)),CO2 Emission Rating
Sl.No,1.000000,NaN,-0.103634,-0.113625,-0.118656,-0.109701,-0.117510,0.122071,0.056961
Model Year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Engine Size(L),-0.103634,NaN,1.000000,0.920698,0.834925,0.749374,0.818694,-0.704163,-0.448239
Cylinders,-0.113625,NaN,0.920698,1.000000,0.845688,0.737652,0.821718,-0.693594,-0.502149
Fuel Consumption (City (L/100 km),-0.118656,NaN,0.834925,0.845688,1.000000,0.922850,0.990321,-0.909477,-0.523928
Fuel Consumption(Hwy (L/100 km)),-0.109701,NaN,0.749374,0.737652,0.922850,1.000000,0.967138,-0.877531,-0.402099
Fuel Consumption(Comb (L/100 km)),-0.117510,NaN,0.818694,0.821718,0.990321,0.967138,1.000000,-0.914305,-0.490473
Fuel Consumption(Comb (mpg)),0.122071,NaN,-0.704163,-0.693594,-0.909477,-0.877531,-0.914305,1.000000,0.473990
CO2 Emission Rating,0.056961,NaN,-0.448239,-0.502149,-0.523928,-0.402099,-0.490473,0.473990,1.000000

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1892 entries, 0 to 1891
Data columns (total 14 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Sl.No                              1892 non-null   int64
 1   Model Year                         1892 non-null   int64
 2   Make                               1892 non-null   object
 3   Model                              1892 non-null   object
 4   Vehicle Class                      1892 non-null   object
 5   Engine Size(L)                     1892 non-null   float64
 6   Cylinders                          1892 non-null   int64
 7   Transmission                       1892 non-null   object
 8   Fuel Type                          1892 non-null   object
 9   Fuel Consumption (City (L/100 km)  1892 non-null   float64
 10  Fuel Consumption(Hwy (L/100 km))   1892 non-null   float64
 11  Fuel Consumption(Comb (L/100 km))  1892 non-null   float64
 12  Fuel Consumption(Comb (mpg))       1892 non-null   int64
 13  CO2 Emission Rating                1892 non-null   int64
dtypes: float64(4), int64(5), object(5)
memory usage: 221.7+ KB

In [21]:
p.crosstab(df["Fuel Type"], df["CO2 Emission Rating"])

CO2 Emission Rating    1    3    5    6    7
Fuel Type
D                     14   42    0    0    0
E                      0   12   12    4    0
X                      0   70  292  268  262
Z                    100  272  312  106  126

In [22]:
df["Vehicle Class"].value_counts()

SUV: Small                 394
SUV: Standard              282
Mid-size                   234
Pickup truck: Standard     226
Subcompact                 160
Compact                    138
Full-size                  128
Two-seater                 102
Minicompact                 96
Pickup truck: Small         40
Station wagon: Small        38
Special purpose vehicle     24
Station wagon: Mid-size     16
Minivan                     14
Name: Vehicle Class, dtype: int64

In [23]:
df["Make"].value_counts()

Ford             178
Chevrolet        160
Porsche          154
BMW              120
GMC              108
Toyota           102
Audi              90
Mercedes-Benz     86
Jeep              68
Hyundai           58
Lexus             56
Cadillac          52
Kia               50
Nissan            46
Honda             46
Mazda             46
Dodge             42
MINI              40
Subaru            38
Volkswagen        36
Land Rover        36
Ram               32
Maserati          26
Volvo             24
Buick             18
Jaguar            16
Lamborghini       16
Infiniti          16
Genesis           16
Acura             16
Bentley           16
Rolls-Royce       14
Lincoln           14
Mitsubishi        14
Chrysler          12
Alfa Romeo        12
Aston Martin      10
Bugatti            6
FIAT               2
Name: Make, dtype: int64

In [24]:
p.Categorical(df["Cylinders"]).describe()

            counts     freqs
categories
3               42  0.022199
4              808  0.427061
5                2  0.001057
6              590  0.311839
8              394  0.208245
10              16  0.008457
12              34  0.017970
16               6  0.003171

In [25]:
p.Categorical(df["Fuel Type"]).describe()

            counts     freqs
categories
D               56  0.029598
E               28  0.014799
X              892  0.471459
Z              916  0.484144

In [26]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1887    False
1888    False
1889    False
1890    False
1891    False
Length: 1892, dtype: bool

In [27]:
sum(df.duplicated())

0

In [28]:
df

,Sl.No,Model Year,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption (City (L/100 km),Fuel Consumption(Hwy (L/100 km)),Fuel Consumption(Comb (L/100 km)),Fuel Consumption(Comb (mpg)),CO2 Emission Rating
0,0,2022,Acura,ILX,Compact,2.4,4,AM8,Z,9.9,7.0,8.6,33,3
1,1,2022,Acura,MDX SH-AWD,SUV: Small,3.5,6,AS10,Z,12.6,9.4,11.2,25,5
2,2,2022,Acura,RDX SH-AWD,SUV: Small,2.0,4,AS10,Z,11.0,8.6,9.9,29,6
3,3,2022,Acura,RDX SH-AWD A-SPEC,SUV: Small,2.0,4,AS10,Z,11.3,9.1,10.3,27,6
4,4,2022,Acura,TLX SH-AWD,Compact,2.0,4,AS10,Z,11.2,8.0,9.8,29,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1887,1887,2022,Volvo,XC40 T5 AWD,SUV: Small,2.0,4,AS8,Z,10.7,7.7,9.4,30,5
1888,1888,2022,Volvo,XC60 B5 AWD,SUV: Small,2.0,4,AS8,Z,10.5,8.1,9.4,30,5
1889,1889,2022,Volvo,XC60 B6 AWD,SUV: Small,2.0,4,AS8,Z,11.0,8.7,9.9,29,7
1890,1890,2022,Volvo,XC90 T5 AWD,SUV: Standard,2.0,4,AS8,Z,11.5,8.4,10.1,28,5
1891,1891,2022,Volvo,XC90 T6 AWD,SUV: Standard,2.0,4,AS8,Z,12.4,8.9,10.8,26,7

In [29]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

var = ['Model Year', 'Make', 'Model', 'Vehicle Class', 'Transmission', 'Fuel Type']

for i in var:
    df[i] = le.fit_transform(df[i]).astype(int)

In [30]:
df

,Sl.No,Model Year,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption (City (L/100 km),Fuel Consumption(Hwy (L/100 km)),Fuel Consumption(Comb (L/100 km)),Fuel Consumption(Comb (mpg)),CO2 Emission Rating
0,0,0,0,349,0,2.4,4,7,3,9.9,7.0,8.6,33,3
1,1,0,0,410,7,3.5,6,8,3,12.6,9.4,11.2,25,5
2,2,0,0,513,7,2.0,4,8,3,11.0,8.6,9.9,29,6
3,3,0,0,514,7,2.0,4,8,3,11.3,9.1,10.3,27,6
4,4,0,0,615,0,2.0,4,8,3,11.2,8.0,9.8,29,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1887,1887,0,38,695,7,2.0,4,12,3,10.7,7.7,9.4,30,5
1888,1888,0,38,696,7,2.0,4,12,3,10.5,8.1,9.4,30,5
1889,1889,0,38,697,7,2.0,4,12,3,11.0,8.7,9.9,29,7
1890,1890,0,38,698,8,2.0,4,12,3,11.5,8.4,10.1,28,5
1891,1891,0,38,699,8,2.0,4,12,3,12.4,8.9,10.8,26,7